<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
  <head>
    <title>{% block title %}Peerpalette{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Peerpalette - anonymous people search &amp; chat." />
    <meta name="keywords" content="chat,anonymous,people,search" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/default.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type='text/javascript' src='/static/jquery.blockUI.js'></script>
    <script type='text/javascript' src='/static/jquery.notice.js'></script>
    <script type="text/javascript" src="/static/ajax.js"></script>
    <script type="text/javascript">
      swfobject.registerObject("buzzer", "9.0.0");
      var update = {{update}};
    </script>
    {% block headtags %}
    {% endblock headtags %}
  </head>
  <body>
    <div style="position:relative;margin:0; padding: 5px; height:40px;background-color: #ebf0ff;border-bottom:1px #aaaaaa solid;">
      <a href="/" style="text-decoration:none;color:#0f4482;font-size:30px;font-family:sans-serif;"><img src="/static/peerpalette.png" style="border:0;" alt="Peerpalette"/></a>

      <div id="menu">
{% if anonymous %}
          <div id="username" class="menuitem">{{username}} (<div style="display:inline" id="login"><a href="/login">login</a>{% include "_loginbox.html" %}</div>/ <a href="/register">register</a>)</div>
{% else %}
          <div id="username" class="menuitem">{{username}} (<a href="/logout">logout</a>)</div>
{% endif %}
          <div class="menuitem"><a id="inbox" href="/chats" {% if unread_count %}class="attention"{% endif %}>
            my chats{% if unread_count %} ({{unread_count}}){% endif %}
          </a></div>
          <div class="menuitem"><a id="history" href="/searches">my searches</a></div>
          <div class="menuitem"><a id="settings" href="/settings">settings</a></div>
      </div>
    </div>
{% if action_feedback %}
    <div id="action-feedback">
  {% for msg in action_feedback %}
      <div class="{{msg.class}}">{{msg.message}}</div>
  {% endfor %}
    </div>
{% endif %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <div style="text-align:center; font-size:small;font-family:sans-serif;color:#444;">
      &copy;2011 peerpalette.com | <a href="/privacy">Privacy</a> | <a href="/feedback">Feedback</a> | <a href="http://www.facebook.com/pages/Peerpalette/131984143534795">Facebook Page</a>
      <div><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" /></div>
    </div>
    {% endblock footer %}
    <div>
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="0" height="0" id="buzzer">
        <param name="movie" value="/static/Buzzer.swf" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/static/Buzzer.swf" width="0" height="0">
        </object>
        <!--<![endif]-->
      </object>
    </div>
  </body>
</html>
