{% extends "_base.html" %}
{% block title %}{{peer_username}} - Peerpalette{% endblock title %}
{% block headtags %}
<script type="text/javascript">
$(document).ready(function() {
  $('#message').focus(function() {
    $("#message_container").css("border-color", "#0f4482");
  });
  $('#message').blur(function() {
    $("#message_container").css("border-color", "");
  });
  $('#message').focus();
});
</script>
<script type="text/javascript">
  var userchat_key = "{{userchat_key}}";
</script>
{% endblock headtags %}
{% block content %}
<div style="height:25px;margin:5px 10px;font-size:20px;" class="{{peer_status_class}}" id="status">
{{peer_username}}<span style="color:#888;"> &mdash; {{title|escape}}</span>
</div>
<div id="log" class="shadowed">
{% include "_messages.html" %}
</div>
<div id="message_container" class="shadowed">
  <form>
    <textarea id="message"></textarea>
  </form>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
