{% extends "_base.html" %}
{% block title %}Peerpalette - My Searches{% endblock title %}
{% block content %}
<div id="content" style="padding: 10px;">
{% if queries %}
  {% for query in queries %}
  <div class="history-item"><a href="/search?q={{query.text|urlencode}}">{{query.text|escape}}</a></div>
  {% endfor %}
{% else %}
  {% if with_cursor %}
  <span style="color: red;">No more items in your search history. Return to <a href="/history">first page</a>.</span>
  {% else %}
  <span style="color: red;">You haven't searched for any topic yet. Go to <a href="/">home page</a> to enter a search query.</span>
  {% endif %}
{% endif %}
{% if cursor %}
  <div style="margin-top:1em">
    <a href="/searches?cursor={{cursor}}">More...</a>
  </div>
{% endif %}
</div>
{% endblock content%}
