{% extends "_base.html" %}
{% block title %}Peerpalette - My Searches{% endblock title %}
{% block content %}
<div id="content" style="padding: 10px;">
{% if queries %}
  {% for query in queries %}
  <div class="history-item"><a href="/search?q={{query.text|urlencode}}">{{query.text|escape}}</a></div>
  {% endfor %}
{% else %}
  {% if with_cursor %}
  <span style="color: red;">No more items in your search history. Return to <a href="/topics">first page</a>.</span>
  {% else %}
  <p style="color: red;">You haven't searched for any topic yet.</p>
    {% if top_searches %}
    <p>Why not try one of the following topics:<br/>
      {% for t in top_searches %}
      <a href="/search?q={{t|urlencode}}" style="margin-right:0.5em;">{{t|escape}}</a>
      {% endfor %}
    </p>
    {% endif %}
  {% endif %}
{% endif %}
{% if cursor %}
  <div style="margin-top:1em">
    <a href="/topics?cursor={{cursor}}">More...</a>
  </div>
{% endif %}
</div>
{% endblock content%}
