{% extends "_base.html" %}
{% block headtags %}
<script type="text/javascript">
function start_random_chat() {
  $.ajax({
    url: "/random",
    type: "post",
    success: function(data, textStatus, rqst) {
      if (rqst.status == 201)
        window.location.href = data;
      else
        setTimeout("start_random_chat()", 1000);
    },
    error: function(arg1, arg2, arg3) {
      alert("Cannot start random chat at this moment");
      $("#random_button").attr("value", "Random Chat");
    }
  });
}

$(document).ready(function() {
  $("#searchbox").focus();
  $("#random_form").submit(function() {
    $("#random_button").attr("disabled", "true");
    $("#random_button").attr("value", "Waiting...");
    start_random_chat();
    return false;
  });
});
</script>
{% endblock headtags %}
{% block content %}
<div id="content" style="padding: 10px;font-family:sans-serif;color:#444444;">
  <p>
    Peerpalette is a new way to chat with other citizens of the Internet anonymously about topics that matter to you. Simply enter your search query to start chatting with interesting people. There are <b>{{num_online_users}} interesting people online right now</b>.
  </p>
  <div style="text-align:center;margin-top:50px;">
  {% include "_search.html" %}
  </div>
  <div style="text-align:center;margin:5px;color:#777">
    or
  </div>
  <div style="text-align:center;">
    <form id="random_form" action="/random" method="get">
    <input id="random_button" type="submit" value="Random Chat" style="padding:10px"/>
    </form>
  </div>
  <div>
    <br/>
    <b>Hot topics:</b>
    <br/>
    {% for t in topics %}
      <a href="/search?q={{t|urlencode}}" style="margin-right:0.5em;">{{t|escape}}</a>
    {% endfor %}
  </div>
  {% if conversations %}
  <div>
    <br/>
    <b>New messages:</b>
    <br/>
    {% for conversation in conversations %}
    <div style="clear:left">
      <div style="float:left;margin-right:0.5em;"><b><a href="/chat/{{conversation.key_name}}" class="{{conversation.status_class}}">{{conversation.title|escape}}</a></b></div>
    {% if conversation.excerpt %}<span class="excerpt">{{conversation.excerpt|escape}}</span>{% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content%}

