{% extends "_base.html" %}
{% block headtags %}
<script type="text/javascript">
$(document).ready(function() {
  $("#searchbox").focus();
  $("#random_form").submit(function() {
    $("#random_button").attr("disabled", "true");
    $("#random_button").attr("value", "Waiting...");
    start_random_chat();
    return false;
  });
});
</script>
{% endblock headtags %}
{% block content %}
<div id="content" style="padding: 10px;font-family:sans-serif;color:#444444;">
  <p>
    Peerpalette is a new way to chat with other citizens of the Internet anonymously about topics that matter to you. Simply enter your search query to start chatting with interesting people. There are <b>{{num_online_users}} interesting people online right now</b>.
  </p>
  <div style="text-align:center;margin-top:50px;">
  {% include "_search.html" %}
  </div>
  <div style="text-align:center;margin:5px;color:#777">
    or
  </div>
  <div style="text-align:center;">
    <form id="random_form" action="/random" method="get">
    <input id="random_button" type="submit" value="Random Chat" style="padding:10px"/>
    </form>
  </div>
  <div>
    <br/>
    <b>Hot topics:</b>
    <br/>
    {% for t in topics %}
      <a href="/search?q={{t|urlencode}}" style="margin-right:0.5em;">{{t|escape}}</a>
    {% endfor %}
  </div>
  {% if conversations %}
  <div>
    <br/>
    <b>New messages:</b>
    <br/>
    {% for conversation in conversations %}
    <div style="clear:left">
      <div style="float:left;margin-right:0.5em;"><b><a href="/chat/{{conversation.key_name}}" class="{{conversation.status_class}}">{{conversation.title|escape}}</a></b></div>
    {% if conversation.excerpt %}<span class="excerpt">{{conversation.excerpt|escape}}</span>{% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div style="text-align:center;margin:10px 0px;">

<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.peerpalette.com" data-text="Ask and discuss things with strangers anonymously. #peerpalette" data-count="horizontal" data-via="zaidabdulla">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

</div>
{% endblock content%}

