{% extends "_base.html" %}
{% block content %}
<div id="content" style="padding:10px;">
{% if conversations %}
  {% for conversation in conversations %}
  <div style="clear:left">
    {% if conversation.read %}
    <div style="float:left;margin-right:0.5em;"><a href="/chat/{{conversation.key_name}}" class="{{conversation.status_class}}">{{username}}</a><span style="color:#888;"> &mdash; {{conversation.title|escape}}</span></div>
    {% else %}
    <div style="float:left;margin-right:0.5em;"><b><a href="/chat/{{conversation.key_name}}" class="{{conversation.status_class}}">{{username}}</a></b><span style="color:#888;"> &mdash; {{conversation.title|escape}}</span></div>
    {% endif %}
  </div>
  {% endfor %}
{% else %}
  {% if with_cursor %}
  <span style="color: red;">No more chat sessions in your inbox. Return to <a href="/inbox">first page</a>.</span>
  {% else %}
  <span style="color: red;">You don't have any chat sessions yet. Try a <a href="/random" onclick="random_chat_start(true);return false;">random chat</a>.</span>
  {% endif %}
{% endif %}
{% if cursor %}
  <div style="margin-top:1em">
    <a href="/inbox?cursor={{cursor}}">More...</a>
  </div>
{% endif %}
</div>
{% endblock content%}
