{% extends "_base.html" %}
{% block content %}
<div style="padding:10px;">
    {% for conversation in conversations %}
      <div>
        {% if conversation.read %}
          <a href="/chat/{{conversation.key_name}}" class="{{conversation.status_class}}">{{conversation.title}}</a>
        {% else %}
          <b><a href="/chat/{{conversation.key_name}}" class="{{conversation.status_class}}">{{conversation.title}}</a></b>
        {% endif %}
      </div>
    {% endfor %}
</div>
{% endblock content%}
