{% extends "_base.html" %}
{% block title %}Peerpalette - Privacy{% endblock title %}
{% block headtags %}
{% endblock headtags %}
{% block content %}
<div id="content" style="padding: 30px;font-family:sans-serif;color:#444444;">
  <ul>
    <li>By visiting Peerpalette for the first time, a temporary account is automatically created for you and identifid using browser cookies. So you don't have to register before using the website.</li>
    <li>No personal information about the users is stored. Not IP, not anything.</li>
    <li>If unregistered user is not active for over a month, we delete their data (chat sessions and search history). This does not apply to registered users.</li>
    <li>We keep track of user searches in order to make it possible to find people with similar interest. The user has the option to delete that from our database.</li>
    <li>While other users cannot see your search history directly, they are able to determine whether you have searched for a certain topic by doing a search for just that and looking for your username in search results. If you want more privacy, it's best to create multiple accounts.</li>
  </ul>
</div>
{% endblock content%}

