{% extends "_base.html" %}
{% block headtags %}
{% endblock headtags %}
{% block content %}
<div style="padding: 10px;font-family:sans-serif;color:#444444;">
  <ul>
    <li>No personal information about the users is stored. Not IP, not anything.</li>
    <li>User identification is done entirely in browser cookies. We cannot determine who an account belongs to even if we wanted to.</li>
    <li>If the user is not active for while, we delete their data (chat and search history).</li>
    <li>To start fresh, simply clear your browser cookies and your old account will be deleted automatically after a while.</li>
    <li>Users cannot determine what search result belongs to which user. Similarly, they cannot even tell if two search results belongs to a single user.</li>
  </ul>
</div>
{% endblock content%}

