{% extends "_base.html" %}
{% block title %}Peerpalette - Register{% endblock title %}
{% block headtags %}
<script type="text/javascript">
$(document).ready(function() {
  $("#login_username").focus();
});
</script>
{% endblock headtags %}
{% block content %}
<div id="content" style="padding: 10px;font-family:sans-serif;color:#444444;">
  <div style="width:400px;margin-left:auto;margin-right:auto;background-color:#eee;padding:10px;border:1px solid #aaa;text-align:center;">
    <div style="text-align:left;">Fill the following to finish registration.</div>
    <div style="text-align:left;color: red">{{message}}</div>
    <form action="/register" method="post">
  {% if link_type %}
      <input type="hidden" name="link_type" value="{{link_type}}" />
  {% endif %}
      <table style="margin:1em auto 1em auto;">
        <tr>
          <td style="text-align:right">
            <label for="login_username">username</label>
          </td>
          <td>
            <input id="login_username" type="text" name="username" value="{{login_username}}" />
          </td>
        </tr>
        <tr>
          <td colspan=2>
<span style="font-size: 12px;font-weight:bold;">Usernames are public. Choose wisely.</span>
          </td>
        </tr>
        <tr>
          <td style="text-align:right">
            <label for="password">password</label>
          </td>
          <td>
            <input id="password" type="password" name="password" />
          </td>
        </tr>
        <tr>
          <td style="text-align:right">
            <label for="verify_password">verify password</label>
          </td>
          <td>
            <input id="verify_password" type="password" name="verify_password" />
          </td>
        </tr>
        <tr>
          <td style="text-align:right">
            <label for="email">email (optional)</label>
          </td>
          <td>
            <input id="email" type="text" name="email" value="{{email}}" />
          </td>
        </tr>
        <tr>
          <td colspan=2>
<span style="font-size: 12px;font-weight:bold;">Email is only for sending offline notifications. Nothing more.</span>
          </td>
        </tr>
      </table>
      <input type="submit" value="Finish Registration" class="button"/>
    </form>
  </div>
</div>
{% endblock content%}

