{% extends "_base.html" %}
{% block title %}{{query|escape}} - Peerpalette{% endblock title %}
{% block content %}
<div id="content" style="padding:10px;">
{% include "_search.html" %}
<br/>
{% if results %}
  {% for result in results %}
  <div style="clear:left">
    {% if result.existing_chat %}
      {% if result.existing_chat_unread %}
    <div style="margin-right:0.5em;"><a href="/chat/{{result.existing_chat}}" class="{{result.status_class}}"><span class="chat"><b>{{result.username}}</b></span></a><span style="color:#888;"> &mdash; {{result.query|escape}}</span></div>
      {% else %}
    <div style="margin-right:0.5em;"><a href="/chat/{{result.existing_chat}}" class="{{result.status_class}}"><span class="chat">{{result.username}}</span></a><span style="color:#888;"> &mdash; {{result.query|escape}}</span></div>
      {% endif %}
    {% else %}
    <div style="margin-right:0.5em;"><a href="/startchat?q={{key}}&q={{result.key}}" class="{{result.status_class}}">{{result.username}}</a><span style="color:#888;"> &mdash; {{result.query|escape}}</span></div>
    {% endif %}
    {% if result.context %}
    <div style="padding-left:1em;color:#888;">{{result.context}}</div>
    {% endif %}
  </div>
  {% endfor %}
  {% if cursor %}
    <div style="margin-top:1em">
      <a href="/search?q={{query|urlencode}}&cursor={{cursor}}">More...</a>
    </div>
  {% endif %}
{% else %}
  <span style="color: red;">Nothing here yet. But someone will find you when they search for this topic in the future. Meanwhile, why not enjoy a <a href="/random" onclick="random_chat_start(true);return false;">random chat</a>?</span>
{% endif %}
</div>
{% endblock content%}
