{% extends "_base.html" %}
{% block title %}Peerpalette: {{query|escape}}{% endblock title %}
{% block content %}
<div id="content" style="padding:10px;">
{% include "_search.html" %}
<br/>
{% if results %}
  {% for result in results %}
  <div style="font-size: large;">
    <a href="/startchat?q={{key}}&q={{result.key}}" class="{{result.status_class}}">{{result.query|escape}}</a>
  </div>
  {% endfor %}
{% else %}
  {% if with_cursor %}
  <span style="color: red;">No more results. Try refining your search query.</span>
  {% else %}
  <span style="color: red;">Nothing found. But others will find you when they search for "<b>{{query|escape}}</b>" in the future.</span>
  {% endif %}
{% endif %}
{% if cursor %}
  <div style="margin-top:1em">
    <a href="/search?q={{query}}&cursor={{cursor}}">More...</a>
  </div>
{% endif %}
</div>
{% endblock content%}
