{% extends "_base.html" %}
{% block title %}{{query|escape}} - Peerpalette{% endblock title %}
{% block content %}
<div id="content" style="padding:10px;">
{% include "_search.html" %}
<br/>
{% if results %}
  <p>
    Here are other users who also want to chat about this topic. A green dot (<img src="/static/online.png" />) means they're currently online.
  </p>
  {% for result in results %}
  <div style="clear:left">
    {% if result.existing_chat %}
      {% if result.existing_chat_unread %}
    <div style="margin-right:0.5em;"><a href="/chat/{{result.existing_chat}}" class="{{result.status_class}}"><span class="chat"><b>{{result.username}}</b></span></a><span style="color:#888;"> &mdash; {{result.query|escape}}</span></div>
      {% else %}
    <div style="margin-right:0.5em;"><a href="/chat/{{result.existing_chat}}" class="{{result.status_class}}"><span class="chat">{{result.username}}</span></a><span style="color:#888;"> &mdash; {{result.query|escape}}</span></div>
      {% endif %}
    {% else %}
    <div style="margin-right:0.5em;"><a href="/startchat?q={{key}}&amp;q={{result.key}}" class="{{result.status_class}}">{{result.username}}</a><span style="color:#888;"> &mdash; {{result.query|escape}}</span></div>
    {% endif %}
    {% if result.context %}
    <div style="padding-left:1em;color:#888;">{{result.context}}</div>
    {% endif %}
  </div>
  {% endfor %}
  {% if cursor %}
    <div style="margin-top:1em">
      <a href="/search?q={{query|urlencode}}&cursor={{cursor}}">More...</a>
    </div>
  {% endif %}
{% else %}
  <p style="color: red;">Nobody here yet. But someone will find you when they search for this topic in the future.</p>
  {% if top_searches %}
  <p>Meanwhile, why not try one of the following topics:<br/>
    {% for t in top_searches %}
    <a href="/search?q={{t|urlencode}}" style="margin-right:0.5em;">{{t|escape}}</a>
    {% endfor %}
  </p>
  {% endif %}
{% endif %}
</div>
{% endblock content%}
