/* Font styles. */
body {
  margin: 0;
  padding: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif; }

/* Links */
a {
  &:link, &:visited {
    color: #0f4482;
    text-decoration: none; }
  &:hover, &:active {
    color: #0f4482;
    text-decoration: underline; } }

p {
  margin: 0 0 1em 0; }

#log {
  border: 1px solid #AAAAAA;
  padding: 5px;
  margin: 5px;
}

.you {
  color: blue;
  font-weight: bold; }

.them {
  color: red;
  font-weight: bold; }

.error {
  color: red; }

#menu {
  padding: 3px;
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
  right: 10px;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-bottom: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  .menuitem {
    margin-left: 5px;
    margin-right: 5px; } }

input[type="text"], input[type="password"] {
  border: 1px solid #aaaaaa;
  outline: none;
  border-radius: 4px;
  outline: none;
  &:focus {
    outline: none;
    border-color: #0f4482; } }

textarea {
  border: 1px solid #aaaaaa;
  outline: none;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  outline: none;
  &:focus {
    outline: none;
    border-color: #0f4482; } }

#searchbox {
  height: 25px;
  font: normal normal normal 18px/normal arial, 'sans-serif bold'; }

.online {
  padding-left: 16px;
  background-image: url(/static/online.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.offline {
  padding-left: 16px;
  background-image: url(/static/offline.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.inactive {
  padding-left: 16px;
  background-image: url(/static/inactive.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.chat {
  padding-left: 18px;
  background-image: url(/static/chat.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.history-item {
  padding-left: 9px;
  background-image: url(/static/arrow.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.excerpt {
  color: #888; }

#content {
  min-height: 200px;
  margin-bottom: 20px; }

textarea.context-view {
  overflow: auto;
  color: inherit;
  margin: 1px;
  resize: none;
  outline: none;
  border:0; }

textarea.context-edit {
  overflow: auto; }

#login {
  position: relative;
  #loginbox {
    z-index: 999;
    position:absolute;
    top: 100%;
    left: 0%;
    background-color: #eee;
    padding: 10px;
    border:1px solid #aaa;
    display: none;
    &.visible {
      display: block; } }
  &:hover {
    #loginbox {
      display:block; } } }

#log {
  left: 5px;
  right: 5px;
  top: 80px;
  bottom: 65px;
  position: absolute;
  overflow:auto;
  border-radius: 4px; }

#message_container {
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 40px;
  position: absolute;
  padding: 5px;
  border:1px solid #aaaaaa;
  border-radius: 4px;
  #message {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    resize: none; } }

