/* Font styles. */
body {
  margin: 0;
  padding: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif; }

/* Links */
a {
  &:link, &:visited {
    color: #0f4482;
    text-decoration: none; }
  &:hover, &:active {
    color: #0f4482;
    text-decoration: underline; } }

p {
  margin: 0 0 1em 0; }

.you {
  color: blue;
  font-weight: bold; }

.them {
  color: red;
  font-weight: bold; }

.error {
  color: red; }

.tabitem {
  margin-left: 5px;
  margin-right: 5px; }

.online {
  padding-left: 16px;
  background-image: url(/static/online.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.offline {
  padding-left 16px {}
  background-image: url(/static/offline.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.inactive {
  padding-left: 16px;
  background-image: url(/static/inactive.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.chat {
  padding-left: 18px;
  background-image: url(/static/chat.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.history-item {
  padding-left: 9px;
  background-image: url(/static/arrow.png);
  background-repeat: no-repeat;
  background-position: 0% 50%; }

.excerpt {
  color: #888; }

#content {
  min-height: 200px;
  margin-bottom: 20px; }
